.foreground {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  pointer-events: all;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

circle {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

circle:hover{
  stroke: #fff;
  stroke-width: 1px;
}

.popup {
  border-radius: 1px; background-color: #FFF; box-shadow: 1px 1px 5px #CCC
}

.foreground.zooming {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.graticule {
  fill: none;
  stroke: #636B62;
  stroke-width: .5px;
  stroke-dasharray: 2,2;
}

.land {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}

.mesh {
  stroke: #50576A;
  stroke-width: .5px;
  fill: none;
}

.point {
  fill: rgba(255,255,255, 0.2);
}