.foreground {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  pointer-events: all;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.foreground.zooming {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.graticule {
  fill: none;
  stroke: #636B62;
  stroke-width: .5px;
  stroke-dasharray: 2,2;
}

.land {
  fill: #69D2E7;
  stroke: none;
}

.mesh {
  stroke: #50576A;
  stroke-width: .5px;
  fill: none;
}